# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
/vars.py
/env/
*.pyc
/authAPI.py
/airbnb-data.xlsx
/architecture.txt
/tech stack
/todo
